{% extends 'app/layout.html.twig' %}

{% block title %}
    Conditions générales d'utilisations
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light border">
                    <li class="breadcrumb-item"><a href="{{ path('app') }}">Accueil</a></li>
                    <li class="breadcrumb-item active" area-current="page">Conditions générales d'utilisation</li>
                </ol>
            </nav>

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body px-0 text-justify">
                            <div class="p-3">
                                <h2 class="mb-5 text-center" title="Mentions légales">
                                    Conditions générales d'utilisation
                                </h2>
                                <h4>
                                    On désigne ce qui suit :
                                </h4>
                                <b>
                                    Application ou service web
                                </b>
                                <p>
                                    L’application https://www.epe-france.com et l’ensemble de ses pages.
                                </p>

                                <b>
                                    Source des données brutes :
                                </b>
                                <p>
                                    Données du RNE « Le répertoire National des Elus » dont la production
                                    est assurée par le Ministère de l’Intérieur.
                                </p>

                                <b>
                                    Préparation et diffusion des données :
                                </b>
                                <p>
                                    ASSOCIATION POUR LA DEFENSE DES FONCTIONNAIRES ET
                                    DES USAGERS DE LA FONCTION PUBLIQUE (ADEFUFP), propriétaire de la marque et de l’application
                                    EPE- FRANCE.COM.
                                </p>

                                <b>
                                    Utilisateur :
                                </b>
                                <p>
                                    L’internaute visitant et utilisant les services de l’application.
                                </p>
                            </div>

                            <dl class="text-justify">
                                <dt class="p-3 bg-primary text-white">
                                    <h5>
                                        Objet de l’application et désignation des parties
                                    </h5>
                                </dt>
                                <dd class="mb-3 p-3">
                                    <p>
                                        L’utilisation de l’application epe-france.com est libre et gratuite. La navigation sur l’application epe-
                                        france.com suppose l’acceptation, par l’utilisateur, de l’intégralité des présentes conditions
                                        générales, qui reconnaît du même fait en avoir pris pleinement connaissance. Tous les éléments de la
                                        présente application appartiennent à des tiers ou/et à l’Association ADEFUFP. Toute copie des logos,
                                        contenus textuels, pictographiques ou vidéos, sans l’autorisation de l’ADEFUFP est strictement
                                        interdite et pourrait s’apparenter à des contrefaçons.
                                    </p>
                                </dd>

                                <dt class="p-3 bg-primary text-white">
                                    <h5>
                                        Limitation de responsabilité
                                    </h5>
                                </dt>
                                <dd class="mb-3 p-3">
                                    <p>
                                        Le propriétaire de l’application epe-france.com n’est tenu que par une obligation de moyens ; sa
                                        responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet
                                        tel que perte de données, rupture du service, intrusion, virus ou autres. L’utilisateur admet
                                        expressément utiliser l’application epe-france.com à ses propres risques et sous sa responsabilité
                                        exclusive. Le propriétaire de l’application epe-france.com a également une obligation de moyen et ne
                                        sera tenu responsable des informations qui seront publiées sur sa plateforme qui serviraient de
                                        rapport statistique sur la politique des élus en fonction de certains critères retenus à titre suggestif
                                        par l’Association ADEFUFP.
                                    </p>
                                    <p>
                                        Les sources d’information de chaque rapport statistique proviendront de l’évaluation effectuée par
                                        les utilisateurs.
                                    </p>
                                </dd>

                                <dt class="p-3 bg-primary text-white">
                                    <h5>
                                        Accès à la plateforme EPE-FRANCE.COM
                                    </h5>
                                </dt>
                                <dd class="mb-3 p-3">
                                    <p>
                                        La responsabilité de l’Association ADEFUFP en tant que propriétaire de l’application ne peut être
                                        engagée en raison d’une indisponibilité technique de la connexion et d’impossibilité d’accès au site,
                                        d’erreur sur l’affichage ou le traitement des données, qu’elle soit due notamment à un cas de force majeure, à une maintenance, à une mise à jour, à une modification de l’application, à une
                                        intervention de l’hébergeur, à une grève interne ou externe, à une panne de réseau, à une coupure
                                        d’alimentation électrique, à une mauvaise configuration ou à l’utilisation de l’ordinateur de
                                        l’utilisateur ou de toutes autres natures. L’utilisateur ne pourra se prévaloir d’un dommage et ne
                                        pourra prétendre à aucune indemnité.
                                    </p>
                                </dd>

                                <dt class="p-3 bg-primary text-white">
                                    <h5>
                                        Données collectées sur l’application EPE-FRANCE.COM
                                    </h5>
                                </dt>
                                <dd class="mb-3 p-3">
                                    <p>
                                        Les données collectées et ultérieurement traitées par l’application EPE-FRANCE.COM sont celles que
                                        vous nous transmettez volontairement en remplissant les formulaires présents sur l’application. Pour
                                        toute évaluation des élus nationaux, vous pourrez être amenés à transmettre des données vous
                                        concernant notamment votre adresse IP. Cette transmission d’information est nécessaire pour
                                        pouvoir mieux contrôler l’utilisation abusive par certains utilisateurs sur le système d’évaluation.
                                        Votre adresse IP (numéro d’identification attribué sur Internet à votre ordinateur) est collectée
                                        automatiquement. Vous êtes informés que le service est susceptible de mettre en œuvre un procédé
                                        automatique de traçage (Cookie), auquel vous pouvez faire obstacle en modifiant les paramètres
                                        concernés de votre navigateur internet, comme expliqué dans les conditions générales de la
                                        présente application.
                                    </p>
                                </dd>

                                <dt class="p-3 bg-primary text-white">
                                    <h5>
                                        Sécurité des données
                                    </h5>
                                </dt>
                                <dd class="mb-3 p-3">
                                    <p>
                                        Vous êtes informés que vos données pourront être divulguées en application d’une loi, d’un
                                        règlement ou en vertu d’une décision d’une autorité réglementaire ou judiciaire compétente ou
                                        encore, si cela s’avère nécessaire, aux fins, pour le propriétaire, de préserver ses droits et intérêts. En
                                        revanche, elles ne sont en aucun cas accessibles à des tiers pour des fins commerciales.
                                    </p>
                                </dd>

                                <dt class="p-3 bg-primary text-white">
                                    <h5>
                                        Clauses diverses
                                    </h5>
                                </dt>
                                <dd class="mb-3 p-3">
                                    <p>
                                        Les présentes conditions d’utilisation sont soumises à l’application du droit Français. Elles peuvent
                                        être modifiées à tout moment par le propriétaire de l’application ou son mandataire. Les conditions
                                        d’utilisation sont applicables à l’utilisateur dès l’instant de son acceptation de celles-ci. Sauf
                                        dispositions d’ordre public, tous litiges qui pourraient survenir dans le cadre de l’exécution des
                                        présentes pourront avant toute action judiciaire être soumis à l’appréciation de l’association,
                                        propriétaire de l’application epe-france.com en vue d’un règlement à amiable. Il est expressément
                                        rappelé que les demandes de règlement à l’amiable ne suspendent pas les délais ouverts pour
                                        intenter les actions judiciaires. Sauf disposition contraire, d’ordre public, toute action judiciaire
                                        relative à l’exécution du présent contrat devra être soumise à la compétence des juridictions du
                                        ressort de la Cour d’appel saisie. Si l’une des clauses des présentes venait à être déclarée nulle par
                                        une décision de justice, cette nullité ne saurait emporter la nullité de l’ensemble des autres clauses,
                                        qui continueraient à produire leur effet.
                                    </p>
                                </dd>

                                <dt class="p-3 bg-primary text-white">
                                    <h5>
                                        Utilisation de Cookies
                                    </h5>
                                </dt>
                                <dd class="mb-3 p-3">
                                    <p>
                                        Un « Cookie » permet l’identification de l’utilisateur d’un site, la personnalisation de sa consultation
                                        de notre application et de l’accélération de l’affichage de l’application grâce à l’enregistrement d’un
                                        fichier de données sur son ordinateur. L’application epe-france.com est susceptible d’utiliser des
                                        « Cookies » principalement pour obtenir des statistiques de navigation afin d’améliorer l’expérience
                                        de l’Utilisateur. L’Utilisateur reconnaît être informé de cette pratique et autorise le propriétaire du
                                        site à y recourir. Le propriétaire s’engage à ne jamais communiquer le contenu de ces « Cookies » à
                                        des tierces personnes, sauf en cas de réquisition légale. L’Utilisateur peut refuser l’enregistrement de
                                        « Cookies » ou configurer son navigateur pour être prévenu préalablement à l’acception les «
                                        Cookies ».
                                    </p>
                                </dd>

                                <dt class="p-3 bg-primary text-white">
                                    <h5>
                                        Réclamations
                                    </h5>
                                </dt>
                                <dd class="mb-3 p-3">
                                    <p>
                                        Toute réclamation liée à l’utilisation de l’application ou de tout autre service lié, les pages de
                                        l’application sur des réseaux sociaux éventuels ou les conditions d’utilisation, mentions légales ou
                                        charte de données personnelles doit être déposée dans les 90 jours suivant le jour d’origine du
                                        problème source de réclamation, et ce, indépendamment de toute loi ou règle de droit contraire.
                                        Dans le cas où une telle réclamation n’aurait pas été déposée dans les 90 jours suivants, une telle
                                        réclamation sera à jamais inapplicable en justice.
                                    </p>
                                </dd>

                                <dt class="p-3 bg-primary text-white">
                                    <h5>
                                        Inexactitudes
                                    </h5>
                                </dt>
                                <dd class="mb-3 p-3">
                                    <p>
                                        Il peut être possible que sur l’ensemble de l’application epe-france.com et de ses services proposés,
                                        et dans une mesure restreinte, des inexactitudes ou des erreurs. Nous mettons tout en œuvre pour
                                        que ce genre d’écarts soient corrigés dès que cela est constaté par nos services. Dans le cas où une
                                        telle situation nous échapperait, merci de nous contacter à l’adresse postale ou à l’adresse
                                        électronique indiquée dans la page Nous Contacter avec, si possible, une description de l’erreur et
                                        l’emplacement (URL), ainsi que des informations suffisantes pour nous permettre de vous contacter.
                                    </p>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

