<form method="post" action="{{ path('euro_deputy_delete', {'id': euro_deputy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ euro_deputy.id) }}">
    <button class="btn btn-danger">
        <i class="fa fa-trash-alt"></i> {{ button_label|default('') }}
    </button>
</form>
