<form method="post" action="{{ path('regional_advisor_delete', {'id': regional_advisor.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ regional_advisor.id) }}">
    <button class="btn btn-danger">
        <i class="fa fa-trash-alt"></i> {{ button_label|default('') }}
    </button>
</form>
