{% extends 'manager/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Paramètres
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card my-3">
                    <div class="card-header d-inline-flex w-100 flex-wrap align-items-center justify-content-between border-0">
                        <h5 class="card-title">Modifier mon compte</h5>
                        <a href="{{ path('senator_index') }}" class="btn btn-link btn-sm float-right">
                            <i class="fa fa-arrow-left"></i> Retour
                        </a>
                    </div>
                    <div class="card-body">
                        {% include 'manager/_common/_flash_message.html.twig' %}
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
                                {{ form(form, {attr: {novalidate: 'novalidate'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
